* {
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 24, 24);
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
    line-height: 1.4;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;

}

a:active,
a:hover,
a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.purple {
    color: #8753ff;
}

.header {
    background-color: rgb(24, 24, 24);
    position: sticky;
    top: 0px;
    z-index: 100;
    transition: all .3s
}

.header_hidden {
    transform: translateY(-100%);
    transition: all .3s
}


.down:after {
    font-family: 'icomoon';
    content: "\f107";
    font-size: 13px;
    padding-left: 5px;
    color: #fff;
}

.topmenu {

    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 80px;
    font-size: 15px;

}



.topmenu li a {
    padding-right: 30px;
    padding-left: 30px;
    color: #fff;
    display: inline-block;
}

#buy {
    padding: 10px;
    border: 2px solid #a45eff;
    border-radius: 50px;
}

nav .logo {
    margin-right: auto;

}

.header__logo {
    height: 50px;
    padding-left: 0px;
}

.topmenu>.logo>a {
    padding-left: 0;
}


.topmenu a:hover {
    color: #a45eff;
}




.info {
    background-color: #8EC5FC;
    background-image: linear-gradient(59deg, #8EC5FC 0%, #E0C3FC 100%);


    color: black;
}

.info__content-inner {
    text-align: center;
    padding: 100px 0px;
}

.info__title {
    letter-spacing: -3px;
    font-weight: bold;
    font-size: 140px;
    text-align: left;
}

.info__under-title {
    font-size: 26px;
    text-align: left;
    line-height: 1.4;
}

.info__stat-container {

    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 15px;


    padding: 40px 0;
}

.stat__item {}

.stat__icon {
    font-size: 60px;
    padding-bottom: 10px;
}

#calendar::after {
    font-family: 'icomoon';
    content: "\e9a5";

}

#people::after {
    font-family: 'icomoon';
    content: "\f0c0";
}

#matic::after {
    font-family: 'icomoon';
    content: "\f1c0";
}

.stat__title {

    font-size: 40px;
    font-weight: bold;
}

.stat__under-title {
    margin-top: 5px;
    font-size: 18px;
}

.info__slogan {
    font-weight: bold;
    font-size: 50px;
    margin-top: 100px;
}

.guide {
    background-color: rgb(32, 32, 32);
    color: white;
}

.guide__content-inner {
    padding: 100px 0;
}

.guide__title {
    display: block;
    font-weight: bold;
    font-size: 50px;
}

.guide__steps-container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}

.steps__item {
    position: relative;
    padding-bottom: 80px;
}

.item__width {
    margin: 0 auto;
    max-width: 760px;
    width: 100%;
}

.item__col-right {
    width: 50%;
    text-align: right;
}

.item__col-left {
    width: 50%;
    float: right;
    text-align: left;
}

.item__text-right {
    padding-right: 50px;
}

.item__text-left {
    padding-left: 50px;
}

.item__title {
    font-size: 35px;
    font-weight: bold;
    line-height: 1;
}

.item__undertitle {
    padding-top: 10px;
    font-size: 18px;
    color: rgb(230, 230, 230);
}

.item__line {
    position: absolute;
    width: 3px;
    top: 0;
    background: rgb(255, 255, 255);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.item__circle {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: rgb(255, 255, 255);
    position: absolute;
    right: 0;
    left: 0;
    top: 0px;
    margin: 0 auto;
    border: 2px solid #fff;
}

#foo {
    padding: 0 10px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 3px;
    background-color: transparent;
    color: rgb(110, 110, 110);
    position: relative;
}

#copy {
    padding: 0 4px;
    background-color: rgb(230, 230, 230);
    position: relative;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 3px;
}

#copy:hover {
    background-color: rgb(187, 187, 187);
    color: black;
}

#copy:active {
    background-color: transparent;
    color: white;
}

.contacts {
    color: #fff;
    padding: 100px 0;
}

.contacts__content-inner {}

.contacts__title {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.contacts__under-title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 70px;
}

.contacts__buttons {
    display: flex;
    justify-content: center;
}

.contacts__buttons a {
    color: #fff;
    font-size: 20px;
    text-align: center;
    min-width: 210px;
    min-height: 70px;
    padding-top: 22px;
    margin: 0 25px;
    background: rgb(42, 171, 238);
    background: linear-gradient(0deg, rgba(42, 171, 238, 1) 0%, rgba(34, 158, 217, 1) 100%);

    border-radius: 150px;
}


.contacts__tg a:hover {
    background: rgb(42, 171, 238);
    background: linear-gradient(0deg, rgb(0, 121, 185) 0%, rgba(34, 158, 217, 1) 100%);
    transition: all 600ms ease 0s;
}


.contacts__tg a:before {
    font-family: 'icomoon';
    content: "\f1d8";
    font-size: 18px;
    padding-right: 12px;
}


.footer {
    background-color: rgb(31, 17, 66);
    color: #fff;
}

.footer__content-inner {
    padding: 100px 0;
}

.footer__items {
    display: flex;
    justify-content: space-around;
}

.footer__item {
    display: inline-block;
    text-align: center;
    max-width: 255px;
}


.footer__text {
    font-size: 17px;
}

.btn__footer {
    color: #fff;
    border: rgb(8, 8, 8) 2px solid;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.btn__footer.wp {
    color: #fff;
    background-color: rgb(31, 192, 31);
}

.btn__footer.wp::before {
    font-family: 'icomoon';
    content: "\f232";
    color: #fff;
    padding-right: 10px;
}

.btn__footer.tg {
    background-color: rgb(78, 72, 165);
}

.btn__footer.tg::before {
    font-family: 'icomoon';
    content: "\f1d8";
    color: #fff;
    padding-right: 10px;
}

.btn__footer.pdf {
    background-color: rgb(179, 127, 59);
}

.btn__footer.pdf::before {
    font-family: 'icomoon';
    content: "\f1c1";
    color: #fff;
    padding-right: 10px;
}

.btn__footer.buy {
    background-color: rgb(194, 77, 41);
}

.btn__footer.buy::before {
    font-family: 'icomoon';
    content: "\e900";
    color: #fff;
    padding-right: 10px;
}