* {
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 24, 24);
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;

}

a:active,
a:hover,
a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(24, 24, 24);
    position: sticky;
    top: 0px;
    z-index: 100;
    transition: all .3s
}

.header_hidden {
    transform: translateY(-100%);
    transition: all .3s
}


.down:after {
    font-family: 'icomoon';
    content: "\f107";
    font-size: 13px;
    padding-left: 5px;
    color: #fff;
}

.topmenu {
    background-color: rgb(24, 24, 24);
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 80px;
    font-size: 15px;

}

.topmenu li {
    position: relative;
}


.topmenu li a {
    padding-right: 30px;
    padding-left: 30px;
    color: #fff;
}

#buy {
    padding: 10px;
    border: 2px solid #a45eff;
    border-radius: 50px;
}

nav .logo {
    margin-right: auto;
    padding-left: 0px;
}

.header__logo {
    height: 50px;
    padding-left: 0px;
}

.topmenu>.logo>a {
    padding-left: 0;
}


.topmenu a:hover {
    color: #a45eff;
}

.topmenu a:hover span.down {
    color: #a45eff;
}

.submenu {
    display: none;
    position: absolute;
    width: 100%;
}


.submenu li {
    background-color: rgb(24, 24, 24);
}


nav ul li:hover>ul {
    display: block;
}

.submenu>li>a {
    width: 100%;
    padding: 20px 0 15px 30px;
}



.info {
    background: #181818;

    color: white;
}

.info__content-inner {
    text-align: center;
    padding: 130px 0px;
}

.info__title {
    letter-spacing: -3px;
    font-weight: bold;
    font-size: 140px;
    text-align: left;
}

.info__under-title {
    font-size: 26px;
    text-align: left;
    line-height: 1.4;
}

.guide {
    background: rgb(152, 241, 255);
    background: radial-gradient(circle, rgba(152, 241, 255, 1) 0%, rgba(228, 238, 255, 1) 48%, rgba(224, 184, 255, 1) 100%);
}

.guide__content-inner {
    display: flex;
    justify-content: space-between;
    padding: 150px 0;
}

.guide__steps-container {
    display: block;
    width: 600px
}

.guide__steps-title {
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 30px;
}

.guide__item {
    padding: 15px 15px;
    background-color: #fff;
    border: 1px solid lightgrey;
    position: relative;
}

.guide__item:before {
    font-family: 'icomoon';
    content: "\f105";
    position: absolute;
    right: 25px;
}



.contacts {
    color: #fff;
    padding: 100px 0;
}

.contacts__content-inner {}

.contacts__title {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.contacts__under-title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 70px;
}

.contacts__buttons {
    display: flex;
    justify-content: center;
}

.contacts__buttons a {
    color: #fff;
    font-size: 20px;
    text-align: center;
    min-width: 230px;
    min-height: 70px;
    padding-top: 20px;
    margin: 0 25px;
    border: 1px solid #fff;

    border-radius: 350px;
}

.contacts__wp a:hover {
    background: rgb(43, 183, 65);
    background: linear-gradient(0deg, rgba(43, 183, 65, 1) 0%, rgba(37, 211, 102, 1) 100%);
    border-color: transparent;
}

.contacts__tg a:hover {
    background: rgb(42, 171, 238);
    background: linear-gradient(0deg, rgba(42, 171, 238, 1) 0%, rgba(34, 158, 217, 1) 100%);
    border-color: transparent;
}

.contacts__wp a:before {
    font-family: 'icomoon';
    content: "\f232";
    padding-right: 10px;
}

.contacts__tg a:before {
    font-family: 'icomoon';
    content: "\f2c6";
    padding-right: 10px;
}


.footer {
    background-color: rgb(31, 17, 66);
    color: #fff;
}

.footer__content-inner {
    padding: 100px 0;
}

.footer__items {
    display: flex;
    justify-content: space-around;
}

.footer__item {
    display: inline-block;
    text-align: center;
    max-width: 255px;
}


.footer__text {
    font-size: 17px;
}

.btn__footer {
    color: #fff;
    border: rgb(8, 8, 8) 2px solid;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.btn__footer.wp {
    color: #fff;
    background-color: rgb(31, 192, 31);
}

.btn__footer.wp::before {
    font-family: 'icomoon';
    content: "\f232";
    color: #fff;
    padding-right: 10px;
}

.btn__footer.tg {
    background-color: rgb(78, 72, 165);
}

.btn__footer.tg::before {
    font-family: 'icomoon';
    content: "\f2c6";
    color: #fff;
    padding-right: 10px;
}

.btn__footer.pdf {
    background-color: rgb(179, 127, 59);
}

.btn__footer.pdf::before {
    font-family: 'icomoon';
    content: "\f1c1";
    color: #fff;
    padding-right: 10px;
}

.btn__footer.buy {
    background-color: rgb(194, 77, 41);
}

.btn__footer.buy::before {
    font-family: 'icomoon';
    content: "\e900";
    color: #fff;
    padding-right: 10px;
}